@use '../../sass' as *;
li.list-group-item{
  background-color: $background-modal;
  color: $text-color;
  width: 100%;
  @include flex(center, space-between);
  padding: 1rem;
  box-shadow: 0 0 3px $background;
  cursor: pointer;

  &__active {
    text-decoration: line-through;
  }

  svg{
    cursor: pointer;
  }
}

label.add{
  margin-bottom: 15px;
}