@use '../../sass' as *;

.user {
  @include flex();
  flex-direction: column-reverse;

  &--container {
    @include flex();
    gap: 2rem;
    width: auto;
    background: $blue;
    padding: 2rem;
  }

  &--img {
    border-radius: 8px;
  }

  &--name {
    margin-bottom: 1rem;
  }

  &--bold {
    font-weight: bold;
  }

  &--btn {
    align-self: flex-start;
    margin-left: 2rem;
    transition: 0.5s;

    &:hover {
      color: $blue;
    }
  }
}